/* ----------------------------------------
-------------------- items -------------

color : #FF008E
        #FF008E
        #000
        #fff
        #ececec
        
font-family: 'Cinzel Decorative',
cursive;
font-family: 'Poppins',
sans-serif;
font-family: 'Slabo 27px',
serif;


---------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Poppins:wght@200;300;400;500;700&family=Slabo+27px&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Slabo 27px',serif;
    color: #ececec;
    background-color: #000;
}

.container{
    width: 1300px;
    padding: 15px;
}

.section-box{
    padding-top: 90px;
}


/* -------------------------header----------------------
----------------------------------------------------- */

header,
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu-items ul li{
    display: inline-block;
    list-style: none;
}

.menu-items a{
    color: #ececec;
    font-size: 18px;
    text-decoration: none;
    margin: 10px 5px;
    padding: 0 15px;
    text-transform: uppercase;
    transition:0.4s;
}

.menu-items a:hover{
    color: #FF008E;
}

.banner{
    display: flex;
    align-items: center;
}

.banner-info .banner-heading{
    font-size: 41px;
    margin-bottom: 15px;
    font-family: 'Cinzel Decorative',cursive;
}

.banner-heading span{
    color: #FF008E;
}

.banner-info p{
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.banner-info .btn a{
    display: inline-block;
    color: #FF008E;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px 25px;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    border: 1px solid #FF008E;
    transition: 0.4s;
}

.btn a:hover{
    color: #ececec;
    background-color: #740140;
    border: 1px solid #740140;
}

.banner .banner-image img{
    height: 100%;
    width: 100%;
}

/* -------------------------Feature----------------------
----------------------------------------------------- */

#feature{
    margin-bottom: 10%;
}

.section-title h2{
    text-align: center;
    font-size: 3em;
    letter-spacing: 2px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    margin-bottom: 10%;
    text-transform: uppercase;
}

.features{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    justify-items: center;
}

.feature{
    padding: 10px;
    width: 100%;
    background-color: #000;
    -webkit-box-shadow: 2px 2px 14px 5px rgba(255, 0, 142, 0.30);
    box-shadow: 2px 2px 14px 5px rgba(255, 0, 142, 0.30);
    transition: 0.4s;
}

.feature:hover{
    transform: scale(1.3);
}
.feature-icon img{
    width: 100%;
}

.feature-info{
    padding-left: 10px;
}

.feature-info h3{
    font-family: 'Cinzel Decorative',
    cursive;
    font-size: 1.5em;
    color: #FF008E;
    margin-bottom: 20px;
}

.feature-info p{
    font-size: 1em;
    line-height: 22.5px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.feature-info a{
    display: inline-block;
    text-decoration: none;
    font-size: 1.2em;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.4s;
}

.feature-info a:hover{
    color: #740140;
}

/* -------------------------About----------------------
----------------------------------------------------- */

#about{
    background-color: #fff;
    color: #000;
    padding: 5%;
}

.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-items: center;
}

.about .about-img{
    width: 100%;
    height: 100%;
}

.about .about-info h1{
    font-size: 4em;
    text-align: center;
}

.about-info h1 .one{
    color: #FF008E;
    font-size: 1.5em;
}